<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <title>PaidHiQ</title>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% include 'includes/_footer.html' %}
</body>
</html>